.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.todo__addButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__input {
  display: block;
  margin: 0.5rem 0;
  border-width: 0 0 1px;
  border-bottom-color: rgb(222, 222, 222);
  width: 15rem;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.todo__input:focus {
  outline: none;
  border-bottom-color: black;
}

.task__list {
    margin-top: 1rem;
    width: 100%;
    /* background-color: aliceblue; */
}
